
@import '../../variables.scss';

.root {
	width: 100%;
  border-bottom: $primary-border;
}

.container {
  margin: 0 auto;
  padding: 2rem 0;
  max-width: 100%;
  background-color: #edebde;
}

.heading {
	margin-top: 0;
}