@import '../../../variables.scss';


.container {
	text-align: center;
	margin: 0 0 2rem 0;
}

.projectImage {
	width: 80%;
	max-height: 200px;
	display: block;
	margin: 0 auto;
}

.projectDescription {
	min-height: 66px;
	vertical-align: middle;
	margin-bottom: 0;
}

.referenceImg {
	max-width: 70px;
	max-height: 70px;
	border-radius: 50%;
	display: inline-block;
}

.referenceQuote {
	// display: inline-block;
	font-size: 0.8rem;
	// width: 65%;
	// margin: 0 0 0 0;
}
.referenceName {
	// display: block;
	text-align: center;
	// width: 65%;
	// margin: -22px 0 0 0;
	// float: right;
	// margin: 0;

	// @media screen and (max-width: $screen-sm-min) {
	// 	margin: 0;
	// }

}
.referenceTitle {
	text-align: center
}

.projectRow {
}


.projectTitle {
	font-size: 1.25rem;
	font-weight: 600;
}


.topRow {

}