@import '../../../variables.scss';

.container, h1 {
	text-align: center;
}

.projectThumb {
	max-width: 300px;
	height: 200px;
	background-color: green;
}

.testmonialImg {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	display: inline-block;
}

.testimionialText {
	display: inline-block;
}