
@import '../../variables.scss';

.root {
	width: 100%;
  border-bottom: $primary-border;
  border-top: $primary-border;
  background-color: #5E696D;
}

.container {
  margin: 0 auto;
  padding: 21vh 0 21vh 0;
  width: 100%;
  text-align: center;
}

.heading {
	font-size: 3.5rem;
	color: $primary-white;
	font-weight: 600;
	margin: 2rem 0 2rem 0;

	@media screen and (max-width: $screen-sm-min) {
  	font-size: 2.5rem;  
  }
}

.tagline {
	font-size: 2.5rem;
	color: $primary-white;
	font-weight: 600;
	margin: 2rem 0;
	
	@media screen and (max-width: $screen-sm-min) {
  	font-size: 1.75rem;
  }
}

#textarea1 {
	height: 100px !important;

	&::-webkit-input-placeholder { /* WebKit browsers */
    color:    #999;
	}
	&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	    color:    #999;
	}
	&::-moz-placeholder { /* Mozilla Firefox 19+ */
	    color:    #999;
	}
	&:-ms-input-placeholder { /* Internet Explorer 10+ */
	    color:    #999;
	}

}
