
@import '../../variables.scss';

.root {
	width: 100%;
  border-bottom: $primary-border;
  border-top: $primary-border;
  background-color: #FFFFFF;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  width: 100%;
  min-height: 600px;
  max-width: $max-content-width;
}

.profileImg {
	border-radius: 50px;
	max-height: 150px;
}
